---
http_interactions:
- request:
    method: post
    uri: http://api.saasrunner.com/subscribers
    body:
      encoding: US-ASCII
      string: subscriber%5Bsubscriber_uid%5D=sub1398853222
    headers:
      X-API-Key:
      - 00b4040a-ed54-4524-a33e-f992298383cc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - '"4ae4e39e2a9ce0e906cd85f2b6d0a61f"'
    body:
      encoding: UTF-8
      string: '{"subscriber":{"id":8356,"subscriber_uid":"sub1398853222","dated_at":"2014-04-30","meta":null,"errors":[]}}'
  recorded_at: Wed, 30 Apr 2014 10:20:22 GMT
recorded_with: VCR 2.9.0
