---
http_interactions:
- request:
    method: post
    uri: http://api.saasrunner.com/subscribers
    body:
      encoding: US-ASCII
      string: subscriber%5Bsubscriber_uid%5D=event1398853233
    headers:
      X-API-Key:
      - 00b4040a-ed54-4524-a33e-f992298383cc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - '"47a051d692e510274feebfbdba8f55fb"'
    body:
      encoding: UTF-8
      string: '{"subscriber":{"id":8358,"subscriber_uid":"event1398853233","dated_at":"2014-04-30","meta":null,"errors":[]}}'
  recorded_at: Wed, 30 Apr 2014 10:20:32 GMT
- request:
    method: delete
    uri: http://api.saasrunner.com/events/8358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-Key:
      - 00b4040a-ed54-4524-a33e-f992298383cc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 30 Apr 2014 10:20:32 GMT
recorded_with: VCR 2.9.0
