---
http_interactions:
- request:
    method: get
    uri: http://api.saasrunner.com/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-Key:
      - 00b4040a-ed54-4524-a33e-f992298383cc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - '"d31802841bad3cded6b8a47e4c366f81"'
    body:
      encoding: UTF-8
      string: '{"events":[{"events":{"id":8354,"meta":null,"subscriber_uid":"sub1398853212","action":"refund","dated_at":"2014-04-30T00:00:00.000Z","created_at":"2014-04-30T10:20:09.708Z","updated_at":"2014-04-30T10:20:09.708Z","subject":"Transaction","amount_in_cents":1000,"currency":"USD","application_id":38,"transaction_uid":"1398853213"}},{"events":{"id":8351,"meta":null,"subscriber_uid":"sub1398852838","action":"refund","dated_at":"2014-04-30T00:00:00.000Z","created_at":"2014-04-30T10:13:55.765Z","updated_at":"2014-04-30T10:13:55.765Z","subject":"Transaction","amount_in_cents":1000,"currency":"USD","application_id":38,"transaction_uid":"1398852839"}},{"events":{"id":8350,"meta":null,"subscriber_uid":"sub1398852838","action":"create","dated_at":"2014-04-30T00:00:00.000Z","created_at":"2014-04-30T10:13:55.606Z","upd[...]
