---
http_interactions:
- request:
    method: post
    uri: http://api.saasrunner.com/transactions/refund
    body:
      encoding: US-ASCII
      string: transaction%5Bsubscriber_uid%5D=sub1398853212&transaction%5Bamount_in_cents%5D=1000&transaction%5Bcurrency%5D=USD&transaction%5Btransaction_uid%5D=1398853213
    headers:
      X-API-Key:
      - 00b4040a-ed54-4524-a33e-f992298383cc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - '"ba5d5d887a7634a5621ab4c5f4ba3782"'
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":8354,"subscriber_uid":"sub1398853212","dated_at":"2014-04-30","meta":null,"errors":[],"transaction_uid":"1398853213","amount_in_cents":1000,"currency":"USD"}}'
  recorded_at: Wed, 30 Apr 2014 10:20:12 GMT
recorded_with: VCR 2.9.0
